* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  input,
  button {
    font-family: inherit;
  }
  ol,
  ul {
    list-style: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  body{
      font: 16px/1.5 Arial, Helvetica, sans-serif;
  }

  .layout{
      max-width: 1400px;
      margin: 0 auto;
  }

  .button {
    background-color: #ea4c89;
    border-radius: 8px;
    padding:8px 10px;
    color: #fff;
    display: inline-block;
}

header{
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
}

header .layout{
      display: flex;
      align-items: center;
      height: 94px;
  }

.log img{
    align-items: center;
      height: 50px;
  }

.header-title {
      display: flex;
}

.header-title a{
    font-size: 14px;
    font-weight: bold;
    margin-left: 16px;
}

header .extra{
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
}

header .extra a{
    font-size: 16px;
}

  .intro{
      background-color: #f9f8fd;
  }
.intro .layout{
    display: flex;
    align-items: center;
    height: 480px;
}
.intro h1{
    font-size: 44px;
    font-weight: bold;
}
.intro p{
    font-size: 16px;
    margin-top: 20px;
}
.intro .button{
    margin-top: 20px;
}
.intro img{
    margin-left: 200px;
    width: 520px;
}

.area-filter{
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.area-filter .cate{
    position: relative;
}
.area-filter .cate:hover .popup{
    display: block;
}


.area-filter .select{
    display: inline-block;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 8px 10px; 
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}

.area-filter .popup{
    position:absolute;
    top: 50px;
    width: 160px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: none;

}
.area-filter .popup li{
    padding: 10px;
    color: #999;
}
.area-filter .popup li.active{
    font-weight: bold;
    color: #ea4c89;

}

.area-filter .popup li.line{
    border-top: 1px solid #eee;
}

.area-filter .labels{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.area-filter .labels li{
    margin: 0 10px;
}

.area-filter .labels li.active{
    background: #f3f3f4;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}

.area-filter .button-simple{
    padding: 10px 20px;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-left: auto;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards > li{
    height: 310px;
    width: calc(20% - 30px);
    margin-top: 30px;
}

.cards .card{
    position: relative;
    height: 270px;
}

.cards .labels{
    position: absolute;
    right: 10px;
    top: 10px;
}
.card:hover .labels{
    display: none;
}

.cards .labels .iconfont{
    font-size: 20px;
}

.cards .title{
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    width: 100%;
    padding: 20px 10px 10px 10px;
    background: linear-gradient(180deg, rgba(255,255,255,0.2) 0%, rgba(197,197,197,1) 35%, rgba(144,144,147,1) 100%);
    opacity: 0;
    transition: opacity  .25s;
}
.cards .card:hover .title{
    opacity: 1;
}


.cards .title .text{
    color: #f8f8f8;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards .icons {
    width: 160px;
    margin-right: 10px;
    text-align: right;
}
/* 6b6a77 */
.cards .title .iconfont{
    background: #aaa9b8;
    color: #ececed;
    font-size: 20px;
    padding: 4px;
    border-radius: 4px;
}


.cards .card>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.cards .info {
    display: flex;
}
.cards .user {
    display: flex;
    flex: 1;
    align-items: center;
}

.cards .user .avatar{
    border-radius: 50%;
}

.cards .actions{
    padding-top: 5px;
    width: 110px;
    text-align: center
}